:root {
  --white: #f2f2f2;
  --black: #0d0d0d;

  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;

  --blue-500: #4ea8de;
  --blue-700: #1e6f9f;

  --purple-500: #8284fa;
  --purple-700: #5e60ce;

  --red-500: #e25858;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--white);
  -webkit-font-smoothig: antialiased;
}

body,
input,
textarea,
main {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

html {
  min-width: 100vh;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}
